

.catalogue-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  column-gap: 15px;
  row-gap: 10px;
  margin-right: 80px;
  margin-left: 50px;

}

@media (max-width:700px){
  .catalogue-grid{
    grid-template-columns: 1fr 1fr;
  }
}

.catalogue{
  margin-top: 100px;
  font-family: roboto,arial;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(179, 11, 11);
}

.catalogue-container{
  
  padding: 0px 80px;

}



.item-img{
  margin-top: 15px;
  border: 2px solid rgb(159, 2, 2);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

.brand{
  font-weight: 500;
  font-size: 24px;
  border-bottom: 2px dashed rgb(159, 2, 2) ;
}

.name{
  font-weight: 300;
  font-size: 16px;
}

.price{
  font-weight: 400;
  font-size: 16px;
}

.product-image{
  max-width: 100%;
  max-width: 100%;
}

.item-img:hover{
  box-shadow: 10px 5px 10px -5px;
  transform: scale(1.05);
  transition: .2s;
}
