.header{
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  background-color: rgb(145, 255, 154);
  border-bottom:1px solid #f7edaa ;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.left-section{
  width: 180px;
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
}


.middle-section{
  width: 1fr;
  display: flex;
  justify-content: center;

   
}

.search-button {
  width: 60px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -2px;
  background-color: #ffd001;

}

.search-icon{
  width: 24px;
}

.search-box{
  width: 200px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
 .search-box::placeholder{
  padding: 10px;
  font-family: roboto,arial;
 }

@media(max-width: 600px) {
  .search-box{
    width: 100px;
  }
  .search-button{
    width: 30px;
    justify-content: center;
    align-items: center;
  }
  .search-icon{
    width: 15px;
    
  }
  .search-box::placeholder{
    font-size: 10px;
    padding: 3px;
  }
  .right-section img{
    width: 10px;
  }
}

@media(min-width: 1000px) {
  .search-box{
    width: 1000px;
  }
}


.right-section{ 
  width: 80px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 10px;
  
}

.right-section img{
  width: 24px ;
}

.logo{
  width: 70%;
  height: 70%;
}

.menu{
  width: 24px;
  height: 24px;
}

.menu:hover,
.heart:hover,
.cart:hover{
  transform:scale(1.2);
  box-shadow: 0px 1px 2px -1px rgb(57, 57, 57);
  transition: 0.2s;
} 

.dropdown-men,
.dropdown-women,
.dropdown-kids{
  border: none;
  margin: 10px 0;
  margin-left: 0;
  margin-right: 20px;
  color: rgb(134, 23, 23);
  background-color:transparent;
  height: 39px;
  width: calc(1fr/3);
  padding: 0 5px;
}

.dropdown-men:hover,
.dropdown-women:hover,
.dropdown-kids:hover{
  box-shadow: 0px 1px 2px -1px rgb(57, 57, 57);
}