.menu-header{
  display: flex;
  flex-direction: row;
  background-color: rgb(198, 0, 10);

  font-family: roboto,arial;
  font-size: 16px;
  margin-top: 35px;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.options{

  font-family: roboto,arial;
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
}

.options:hover{
  background-color: rgb(111, 10, 10);
  cursor: pointer;
}



